html,
body {
  background-color: #94deef;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#battleShipTitle {
  text-align: center;
  background-color: rgb(145, 138, 211);
  margin-top: 0;
  padding: 30px;
  color: beige;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}

form {
  margin-bottom: 15%;
  background-color: #4f3099;
  padding-top: 20px;
  border: solid white;
  gap: 20px;
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: bolder;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.playingField {
  display: flex;
  flex-direction: column;
}

.playersContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.playerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  height: 50px;
  width: 50px;
  border: solid 0.2px black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamePaused {
  pointer-events: none;
}

.gameboard {
  display: flex;
  flex-direction: column;
  border: solid black;
  background-color: white;
}

.AICell:not(.clicked):hover {
  background-color: rgba(48, 238, 0, 0.514);
}

.clicked {
  cursor: not-allowed;
}

.ship {
  background-color: yellow;
}

.hit {
  background-color: red;
}

.miss {
  background-color: green;
}

.sunk {
  background-color: rgb(145, 138, 211);
}

.row {
  display: flex;
}

#gameStarted {
  cursor: not-allowed;
}
