html,
body {
  background-color: #94deef;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-weight: bolder;
  padding: 10px;
}

button:hover {
  transform: scale(105%);
}

.changePlayerName {
  margin-left: 2%;
}

#battleShipTitle {
  text-align: center;
  background-color: rgb(145, 138, 211);
  margin-top: 0;
  padding: 30px;
  color: beige;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}

form {
  margin-bottom: 15%;
  background-color: #4f3099;
  padding-top: 20px;
  border: solid white;
  gap: 20px;
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: bolder;
}

.hidden {
  transform: scale(0%);
  opacity: 0;
  pointer-events: none;
}

.playingField {
  display: flex;
  flex-direction: column;
}

.playersContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 30px;
}

.playerContent,
.AIContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  height: 40px;
  width: 40px;
  border: solid 0.2px black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shipsContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 13%;
}

.shipsContainerX {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.shipsContainerY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.shipIconX {
  display: flex;
}

shipIconY {
  display: flex;
  flex-direction: column;
}

.shipIconCell {
  width: 20px;
  height: 20px;
  border: solid black 1px;
  background-color: wheat;
}

.shipIcon:hover {
  transform: scale(120%);
}

.chosen {
  border: solid greenyellow 3px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  border: solid black;
  background-color: white;
}

.AICell:not(.clicked):hover {
  background-color: rgba(48, 238, 0, 0.514);
}


.clicked {
  cursor: not-allowed;
}

.ship {
  background-color: yellow;
}

.hit {
  background-color: red;
}

.miss {
  background-color: green;
}

.sunk {
  background-color: rgb(145, 138, 211);
}

.row {
  display: flex;
}

.notAllowed {
  cursor: not-allowed;
}

.locked {
  pointer-events: none;
}

.greenHover {
  background-color: rgba(48, 238, 0, 0.514);
}

.redHover {
  background-color: red;
}