* {
  box-sizing: border-box;
}

html {
  background-image: url("../assets/background.svg");
  background-size: cover;
  background-attachment: fixed;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header > .hint-message {
  font-weight: bold;
  font-size: min(1.3rem, 5vw);
  text-decoration-style: solid;
}

button {
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #616467;
}

button:hover {
  color: #fff;
  background-color: #616467;
}

#battleShipTitle {
  font-size: min(3rem, 10vw);
  text-align: center;
  margin-top: 0;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  text-decoration-line: underline;
}

.formContainer,
#losingMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.699);
}

#losingMessage {
  margin-bottom: 15%;
  background-color: #214199;
  padding: 40px;
  border: solid white;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: bolder;
  border-radius: 8px;
}

#losingMessage > h2 {
  font-size: min(2rem, 3vw);
}

#losingMessage > h3 {
  font-size: min(1.5rem, 2vw);
}

.name-form {
  top: 20%;
  background-color: #4f3099;
  padding: 20px;
  border: solid white;
  gap: 20px;
  width: min(600px, 50vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 10px;
}

.name-form > .title {
  color: white;
  font-size: min(5vw, 1.4rem);
  letter-spacing: 1px;
}

.name-form > .name-field {
  width: 60%;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 8px;
  border: none;
}

.name-form > .confirm-button {
  padding: 10px 20px;
  font-size: min(4vw, 0.8rem);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #59a152;
  cursor: pointer;
  color: white;
}

.name-form > .confirm-button:hover {
  background-color: #8bbb1c;
}

.playingField {
  display: flex;
  flex-direction: column;
}

.playersContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.playerContent,
.AIContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: min(1rem, 3vw);
}

#playerName {
  cursor: pointer;
}

.cell {
  width: min(40px, 3vw);
  aspect-ratio: 1;
  border: solid 0.2px black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shipsContainerDiv {
  display: grid;
  align-items: center;
  gap: 5px;
}

.shipsContainerDiv > h4 {
  font-size: min(1rem, 4vw);
  font-weight: bolder;
  text-align: center;
}

.shipsContainerX {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.shipsContainerY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.shipIconX {
  display: flex;
}

.shipIconY {
  display: flex;
  flex-direction: column;
}

.shipIconCell {
  width: min(20px, 4vw);
  aspect-ratio: 1;
  border: solid black 1px;
  background-color: wheat;
}

.shipIcon {
  cursor: pointer;
}

.shipIcon:hover {
  transform: scale(120%);
}

.chosen {
  border: solid greenyellow 3px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  border: solid black;
  background-color: white;
}

.AICell:not(.clicked):hover {
  background-color: rgba(48, 238, 0, 0.514);
}

.clicked {
  cursor: not-allowed;
}

.ship {
  background-color: yellow;
}

.hit {
  background-color: red;
}

.miss {
  background-color: green;
}

.sunk {
  background-color: rgb(145, 138, 211);
}

.row {
  display: flex;
}

.notAllowed {
  cursor: not-allowed;
}

.locked {
  pointer-events: none;
}

.greenHover {
  background-color: rgba(48, 238, 0, 0.514);
}

.redHover {
  background-color: red;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 750px) {
  .playersContainer {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .shipsContainerDiv {
    grid-row: 1;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20px 1fr;
  }

  .shipsContainer {
    grid-row: 2 / 4;
  }

  .shipsContainerDiv button {
    grid-row: 2;
  }

  .cell {
    width: 4vw;
  }
}

